::-webkit-scrollbar {
    background-color: #086972;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #17b978;
    border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

code {
    color: rgb(201, 201, 201);
}

body {
    background-image: linear-gradient(120deg, #071a52,#086972);
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    overflow-x: hidden;
    max-height: max-content;
}



.About {

    min-height: 100vh;
}

.Home {

    min-height: 100vh;
    

}

hr {
    background-color: white;
}
